---
---
<div class="card-grid">
  <slot />
</div>

<style>
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  @media (min-width: 640px) {
    .card-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 1200px) {
    .card-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>
